<label for="project-select">{% if isChinese %}选择工程{% else %}Project{% endif %}</label>
<select id="project-select" onchange="window.location.assign(this.value)">
    {% for item in projects %}
    <option value="/{{ item }}/{% if isChinese %}cn/{% endif %}"{% if item == project %} selected{% endif %}>{{ item }}</option>
    {% endfor %}
</select>
